body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: center;
}

.flex-half {
    width: 50%;
}

.flex-triple {
    width: 33.3%;
}

.container {
    padding: 5% 5% 0;
}

.header {
    background: #70daf5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    height: 90px;
}

.logo {
    font-weight: 800;
    font-size: 38px;
    text-decoration: none;
    color: #333;
    font-family: 'Meie Script', sans-serif;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
    margin: 5px;
}

.list-item {
    text-decoration: none;
    color: #333;
    background: #cefdff;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all .4s;
}

.list-item:hover {
    background: #00d8d6;
}

.hero-main {
    background-image: url('images/bg-top.png'), linear-gradient(to left, #cefdff, #8be2f8);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.hello-span {
    text-transform: uppercase;
    font-weight: 800;
}

.hello-span::before {
    display: inline-block;
    content: '';
    height: 3px;
    width: 55px;
    background: #05c5ff;
    margin-right: 15px;
}

.bold-color {
    color: #416dfb;
}

.name-top {
    font-size: 50px;
    font-weight: 600;
}

img.hero-image {
    height: 500px;
    width: 550px;
    z-index: 999;
}

.link-btn {
    text-decoration: none;
    text-transform: uppercase;
    background: #cefdff;
    padding: 15px 40px;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #cefdff;
    color: #000;
    font-weight: 700;
    transition: all .6s;
}

.link-btn:hover {
    background: #00d8d6;
    border: 1px solid #00d8d6;
    color: #fafafa;
}

.newsletter {
    background: #a1ebfa;
    padding: 10px 80px;
    color: #111;
    margin-top: -7px;
    z-index: 9999;
}

.newsletter input {
    border: 1px solid #1d1f1e2c;
    outline: none;
    padding: 18px 10px;
    width: 60%;
    background: transparent;
    border-radius: 6px;
    float: left;
}

input::placeholder {
    color: rgba(51, 51, 51, 0.644);
    text-transform: uppercase;
    font-weight: 600;
}

.do-list h2,
.work-space h2 {
    font-weight: 600;
    font-size: 32px;
}

.do-box {
    padding: 20px 30px;
    margin: 10px 30px;
    border-radius: 10px;
}

.active {
    background: #97efff54;
    box-shadow: -1px 9px 30px -9px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: -1px 9px 26px -9px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: -1px 9px 26px -9px rgba(0, 0, 0, 0.59);
}

.work-space {
    background-image: url(images/bg-bottom.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.box-work-space {
    box-shadow: 10px 10px 30px #3333;
    padding: 20px;
    margin: 0 20px;
}

#bws-baby {
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, lightblue, #5ce1e6) 1;
}

#bws-stack {
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, #5ce1e6, #5ce1e6) 1;
}

.mt-150 {
    margin-top: 150px;
}

footer p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}